<html>
<head>
<title>
	PrereformToContemporary
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/Users/el/git_ptc/prereform_to_contemporary/static/css/ptc_styles.css">
<script src="/Users/el/git_ptc/prereform_to_contemporary/static/js/ptc_actions.js"></script>
</head>
<body onload="specificate()">
			<div class="main">
				<form action="{{url_for('web_converter')}}" enctype="multipart/form-data" method="post">
					<div class="container">
						<div class="vertical-block work-part">
							<div>
								<h2 id='title'>
									Транслитератор из дореформенной русской орфографии в современную
								</h2>
							</div>

							<div>
							<textarea class="input-output" name='inp_text' cols=100 rows=15>{{input_text}}</textarea>
							</div>
							<div class="horizontal-block button-block">
								<div><input name='go' value='Транслитерировать' type='submit' class="newstype-button translit" id="translit"></div>
								<div class="gap-left"><input name='clean' value='Очистить' type='submit' class="newstype-button clean" id="clean"></div>
								<div class="gap-left"><input type="checkbox" name="both" value='show'><span class="note" id="sh0"> Показывать оригинальное написание</span></div>
								<div class="gap-left"><input class="mask-button sett_button" type="submit" value="Настройки" onclick="go_to_settings()" id="settings_button"></div>
							</div>
							<div class="horizontal-block load-block">
								<div><span class="note" id="load_txt">Загрузить файл(ы) .txt:</span></div>

								<div class="mask-wrapper gap-left">
									<div class="mask">
										<div><div class="div-button" id="ch1"><div><span id="text_ch1">Выбрать файлы</span></div></div></div>
										<div class="pos-center"><div><span id="show-file" class="show-label">Файл не выбран</span></div></div>
									</div>
									<div class="hide-act"><input class="custom-file-input" id="txt_id" type="file" name="f_txt" multiple onchange="rename_span('txt_id', 'show-file')"></div>
								</div>

								<div class="gap-left"><input class="newstype-button" type="submit" name='download_txt' value="OK"></div>
								<div class="gap-left"><input type='hidden' name='filename_txt' value='{{filename}}'></div>
							</div>
							<div class="horizontal-block load-block">
								<div><span class="note" id="load_tml">Загрузить файл(ы) xml (.html, .xhtml):</span></div>

								<div class="mask-wrapper gap-left">
									<div class="mask">
										<div><div class="div-button" id="ch2"><div><span id="text_ch2">Выбрать файлы</span></div></div></div>
										<div class="pos-center"><div><span id="show-file-xml" class="show-label">Файл не выбран</span></div></div>
									</div>
									<div class="hide-act"><input class="custom-file-input" id="xml_id" type="file" name="f_xml" multiple onchange="rename_span('xml_id', 'show-file-xml')"></div>
								</div>

								<div class="gap-left"><input class="newstype-button" type="submit" name='download_xml' value="OK"></div>
								<div class="gap-left"><input type='hidden' name='filename_xml' value='{{filename}}'></div>
							</div>

							<div>
							<textarea class="input-output" name='outp_text' cols=100 rows=15>{{output_text}}</textarea>
							</div>

							<div >
			          <div class="gap-top30"><a class="infolink" href="{{url_for('send_mail')}}" id="feed">Форма обратной связи</a></div>
								<div class="gap-top5"><a class="infolink" href="http://ling.hse.ru" id="school">Школа лингвистики</a></div>
								<div class="gap-top5"><img id="git_logo" src="{{url_for('static', filename='github.jpg')}}" onclick="return location.href = 'https://github.com/shelari/prereform_to_contemporary'" alt="repository link" width='20' height="20"/></div>
			          <div><span class="author" id="auth">Елена Сидорова 2017</span></div>
							</div>


						</div>
						<div class="vertical-block info-part upd_rigth">
							<div class="corners">
								<div class="horizontal-block upd_rigth">
									<div>
												<img id="hse_logo" src="{{url_for('static', filename='logo_hse_cmyk.png')}}", alt="HSE", hspace=20, vspace=20, width='137', height='130'/>
									</div>
									<div>
									      <img id="ling_logo" src="{{url_for('static', filename='logo_ling.jpg')}}", alt="ling", hspace=20, vspace=20 width='150' height='97'>
									</div>
								</div>
								<div class="horizontal-block">
										<div class="language-button default-language" id="ru_button" onclick="change_language('ru')">
											<div class="language-content"><span>ru</span></div>
										</div>
										<div class="language-button" id="en_button" onclick="change_language('en')">
											<div class="language-content"><span>en</span></div>
										</div>
								</div>
							</div>
							<div class="upd_rigth">
								<p class="text-content">
								<b><span id="example_title">Для примера:</span></b> <br />
							      Пройдя комнату, такъ называемую, офиціанскую, мы взошли въ кабинетъ Папа. Онъ стоялъ подлѣ письменнаго стола и, показывая на бумаги, запечатанные конверты, кучки денегъ, горячился и что-то толковалъ прикащику Никитѣ Петрову, который на обычно[мъ] своемъ мѣстѣ, подлѣ барометра, разставивъ ноги на приличное раз[стояніе], заложивъ руки назадъ и приводя за спиною пальцы въ движеніе тѣмъ быстрѣе, чѣмъ болѣе горячился [13] папа, спереди не выказывалъ ни малѣйшаго знака безпокойства, но, напротивъ, выраженіемъ лица выказывалъ совершенное сознаніе своей правоты и вмѣстѣ съ тѣмъ подвластности.
								</p>
							</div>
						</div>
					</div>
				</form>
			</div>

</body>
</html>
